@import '../../../scss/variables.scss';

.music {
  max-height: calc(100vh - 300px);
}

.track {
  position: relative;
  & + & {
    margin-top: 0.5rem;
  }
  &.active {
    background: rgba(31, 31, 31, 0.8);
    border-radius: 1rem;
  }
}
