@import '../../scss/variables.scss';

.item {
  width: fit-content;
  & button {
    display: flex;
    align-items: center;
    font-family: 'OpenSans';
    font-size: 2rem;
    color: $white;
    font-weight: 500;
    white-space: nowrap;
  }
  & svg {
    --transparent-color: black;
  }
  & + & {
    margin-top: 1.2rem;
  }
  &.active button,
  &.active svg {
    color: $green-main;
  }
}

.list {
  margin-bottom: auto;
}

.left {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top {
  display: flex;
  margin-bottom: 2rem;
}

.media-action {
  background: $bg-main;
  border-radius: 1rem;
  padding: 1rem;
}

.send-button {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

.right {
  margin-left: auto;
}

.image {
  height: 20rem;
  max-width: 32rem;
  width: 40vw;
  & img,
  video {
    border-radius: 1rem;
    object-fit: cover;
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  & svg {
    display: block;
  }
}

@media (max-width: 550px) {
  .top {
    flex-direction: column;
  }
  .left {
    margin: 0 0 1rem 0;
  }
  .right {
    width: 100%;
    margin-left: 0;
  }
  .image {
    max-width: none;
    width: 100%;
  }
  .item {
    width: 9rem;
    height: 9rem;
    background: $sub-bg;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    & button {
      white-space: normal;
      flex-direction: column;
      font-size: 1.4rem;
    }
    & + & {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  .icon {
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
  .list {
    display: flex;
    justify-content: space-between;
  }
  .forward-targets {
    margin-bottom: 1.5rem;
  }
  .targets-list {
    margin-top: 1.5rem;
    max-height: 11rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      border: 1rem solid rgba(0, 0, 0, 0);
      background-color: $green-main;
      border-radius: 1rem;
    }
  }
  .target-item {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 1rem;
    }
  }
  .user-name,
  .forward-btn {
    color: $white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'OpenSans';
  }
  .user-name {
    max-width: calc(100vw - 20rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .forward-btn {
    padding: 0.5rem 1rem;
    background: $green-main;
    border-radius: 1rem;
    margin-left: auto;
  }
  .user-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    & img {
      border-radius: 50%;
    }
  }
}
