@import '../../scss/variables.scss';

.card {
  min-width: 12.5rem;
  min-height: 12.5rem;
  border-radius: 1rem;
  margin-right: 4rem;
  cursor: pointer;
  &:hover .card-hover {
    opacity: 1;
  }
}

.card-hover {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-height: inherit;
  font-family: 'OpenSans';
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: 0.2s linear;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

.name {
  color: $green-light;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 11rem;
}

.play {
  width: 2rem;
  height: 2rem;
}

.info {
  color: $white;
  align-self: flex-end;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  & svg {
    display: block;
  }
}

.title {
  margin-bottom: 0.5rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 11rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.music-page {
  min-width: 20rem;
  min-height: 20rem;
  margin-right: 2rem;
  & .author,
  & .title,
  & .row span {
    font-size: 1.6rem;
  }
  & .play {
    width: 3.5rem;
    height: 3.5rem;
  }
  & .name {
    max-width: 18rem;
  }
  & .title {
    max-width: 17rem;
  }
}

@media (max-width: 550px) {
  .music-page {
    min-width: 9rem;
    min-height: 9rem;
    height: 9rem;
    & .author,
    & .title,
    & .row span {
      font-size: 1rem;
    }
    & .play {
      width: 1.5rem;
      height: 1.5rem;
    }
    & .icon {
      width: 1rem;
      height: 1rem;
    }
    & .name,
    & .title {
      max-width: 7rem;
    }
  }
}
