@import '../../../../scss/variables.scss';

.wrapper {
  margin-bottom: 1.5rem;
}

.block {
  display: grid;
  grid-template-rows: repeat(2, 5rem);
  grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown {
  & .block {
    max-height: 10rem;
    max-width: 47.7rem;
  }
}

.music-page {
  & .block {
    max-height: 14rem;
    grid-template-rows: repeat(2, 7rem);
  }
  & .title {
    font-size: 1.8rem;
  }
}

.title {
  font-family: 'OpenSans';
  font-size: 1.4rem;
  color: $white;
  font-weight: 600;
  margin-bottom: 1rem;
}
