@import '../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  padding: 2rem;
  background: $elem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  width: 40rem;
}

.title {
  text-align: center;
  font-family: 'Montserrat';
  color: $white;
  font-size: 3.2rem;
  font-weight: 500;
}

.input-block {
  margin-bottom: 1.5rem;
}

.label {
  font-family: 'OpenSans';
  font-size: 1.6rem;
  font-weight: 600;
  color: $white;
  margin-bottom: 1rem;
  display: block;
  width: fit-content;
}

.link {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 500;
  color: $green-main;
}

.indicator-block {
  margin-bottom: 1.5rem;
}

.indicator-title {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  color: $green-light;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.indicator {
  position: relative;
  width: 16rem;
  height: 0.6rem;
  background: $white;
  border-radius: 1rem;
  margin: 0 auto;
}

.indicator-complete {
  background: $green-main;
  height: inherit;
  border-radius: inherit;
  transition: 0.2s linear;
}

.back {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  color: $green-main;
  font-weight: 600;
  margin: 1.5rem auto 0;
}

.margin {
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }

  .indicator-title {
    font-size: 1.8rem;
  }

  .link {
    font-size: 1.8rem;
  }

  .login {
    margin-bottom: 2rem;
    width: 30rem;
  }

  .back {
    font-size: 1.6rem;
  }
}
