@import '../../../scss/variables.scss';

.category {
  margin-bottom: 1.5rem;
}

.heading {
  font-family: 'OpenSans';
  font-size: 1.6rem;
  font-weight: 600;
  color: $white;
  margin-bottom: 1.5rem;
}

.separator {
  margin: 0 1rem;
}

.my-count {
  color: $green-main;
}

.all-count::before {
  content: '/';
  margin: 0 0.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 46rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nothing {
  justify-content: center;
}

.item {
  cursor: pointer;
}

.item + .item {
  margin-left: 4rem;
}

.item-big {
  display: flex;
  flex-direction: column;
}

.item-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  margin-bottom: 1rem;
  position: relative;
  & img {
    border-radius: 1rem;
    object-fit: cover;
  }
}

.img-big {
  width: 12.5rem;
  height: 12.5rem;
}

.img-small {
  width: 5rem;
  height: 5rem;
  & img {
    border-radius: 0.5rem;
  }
}

.img-very-small {
  width: 3rem;
  height: 3rem;
}

.radio-btn {
  position: absolute;
}

.radio-btn-big {
  bottom: 0.5rem;
  right: 0.5rem;
}

.radio-btn-small {
  bottom: -0.5rem;
  right: -0.5rem;
}

.radio-btn-vsmall {
  bottom: -0.5rem;
  right: -0.5rem;
}

.name {
  display: block;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 500;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name-big {
  max-width: 12.5rem;
}

.name-small {
  width: 8rem;
  text-align: center;
}

.inp-disabled {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  &:checked ~ .custom-btn {
    background: $green-light;
  }
}

.custom-btn {
  border-radius: 50%;
  outline: 0.5rem solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
}

.custom-btn-big {
  width: 1.5rem;
  height: 1.5rem;
}

.custom-btn-small {
  width: 1rem;
  height: 1rem;
}
