@import '../../../scss/variables.scss';

.wrapper {
  height: 38.7rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.nothing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-page {
  height: calc(100vh - 320px);
}
