@import '../../scss/variables.scss';

.wrapper {
  padding: 1rem;
  background: $green-main;
  border-radius: 2rem;
  width: 12.6rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.pattern-items {
  display: grid;
  grid-template:
    'header header' 2rem
    'sidebar content' 5rem;
  grid-gap: 0.5rem;
}

.item1,
.item2,
.item3 {
  background: $white;
  border-radius: 0.5rem;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: sidebar;
}

.item3 {
  grid-area: content;
}

.action-btn {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .trash {
    fill: $semi-white;
    stroke: $semi-white;
  }
  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.delete-btn {
  left: 1rem;
  top: 1rem;
  & svg path {
    transition: 0.2s linear;
  }
  &:hover {
    & svg .trash {
      fill: $white;
      stroke: $white;
    }
  }
}

.forward-btn {
  right: 3.5rem;
  top: 1rem;
  & svg path {
    transition: 0.2s linear;
  }
  &:hover svg path {
    fill: $white;
  }
}

.settings-btn {
  right: 1rem;
  top: 1rem;
  & svg path {
    fill: $semi-white;
    transition: 0.2s linear;
  }
  &:hover svg path {
    fill: $white;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  max-width: 11rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  font-weight: 500;
  color: $white;
}

.edit-btn {
  &:hover svg path {
    stroke: $white;
  }
  &:hover svg path:not(:first-child) {
    fill: $white;
  }
  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  & path {
    transition: 0.2s linear;
  }
  & path {
    stroke: $semi-white;
  }
  & path:not(:first-child) {
    fill: $semi-white;
  }
}
