@import '../../scss/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

// .image {
//   margin-right: 2rem;
//   width: 36.7rem;
//   height: 36.7rem;
// }

.block {
  width: 60rem;
  font-weight: 600;
}

.title,
.sub-title {
  color: $green-main;
}

.title {
  font-family: 'UnivaNova';
  font-size: 9.6rem;
  margin-bottom: 1rem;
}

.sub-title,
.text {
  font-family: 'OpenSans';
}

.sub-title {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 2.4rem;
  color: $white;
  margin-bottom: 2.5rem;
  line-height: 3.6rem;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .block {
    text-align: center;
  }
  .image {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .image {
    width: 15rem;
    height: 15rem;
  }
  .title {
    font-size: 6.4rem;
    margin-bottom: 0;
  }
  .sub-title {
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }
  .text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .block {
    width: auto;
  }
}
