@import '../../scss/variables.scss';

.music {
  background: $sub-bg;
  max-width: 75rem;
  min-width: 52rem;
  border-radius: 2rem;
  padding: 1.5rem;
  margin: 0 4.5rem;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.music-nav {
  margin: 2rem 0;
}

.links-list {
  display: flex;
  align-items: center;
}

.link-item {
  & + & {
    margin-left: 2rem;
  }
}

.link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2rem;
  &.active {
    color: $green-main;
    font-weight: 600;
  }
}

.upload {
  width: 2.5rem;
  height: 2.5rem;
}

.upload-button {
  margin-left: auto;
}

@media (max-width: 1150px) {
  .music {
    margin: 0;
    max-width: none;
    min-width: 0;
  }
  .music-nav {
    margin: 1rem 0;
  }
  .link {
    font-size: 1.6rem;
  }
  .links-list {
    overflow-x: auto;
    &::-webkit-scrollbar {
      background: transparent;
      height: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      border: 1rem solid rgba(0, 0, 0, 0);
      background-color: $green-main;
      border-radius: 1rem;
    }
  }
  .link {
    white-space: nowrap;
  }
}
