@import '../../scss/variables.scss';
.wall {
  background: $sub-bg;
  max-width: 75rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

.feed,
.group {
  margin: 0 4.5rem;
  max-width: 75rem;
  width: calc(100vw - 65rem);
}

.profile {
  max-width: 60rem;
  width: calc(100vw - 65rem);
}

@media (max-width: 1450px) {
  .profile {
    max-width: 70rem;
    width: calc(100vw - 75rem);
  }
}

@media (max-width: 1150px) {
  .wall {
    max-width: 100%;
  }
  .feed,
  .group,
  .profile {
    margin: 0;
    order: 2;
    width: 100%;
    height: 40vh;
  }
}
