@import '../../scss/variables.scss';

.wrapper {
  background: $bg-main;
  min-height: 100vh;
}

.main {
  padding-top: calc($header-height + 2rem);
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 1150px) {
  .main {
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    padding-bottom: $header-height;
    margin-top: 9.5rem;
  }
  .messages {
    padding: 0 !important;
    margin: 0 !important;
    justify-content: center;
  }
  .messages.selected {
    padding-top: 7rem !important;
  }
}

@media (max-width: 550px) {
  .main {
    margin-top: 6.5rem;
  }
  .messages.selected {
    padding-top: 5rem !important;
  }
}
