@import '../../scss/variables.scss';

.notifies {
  background: $sub-bg;
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  height: fit-content;
  overflow: auto;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.title {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: $white;
}

@media (max-width: 1150px) {
  .notifies {
    margin: 0;
  }
  .title {
    display: none;
  }
}
