.profile {
  background: #2c2c2c;
  max-width: 75rem;
  min-height: 80vh;
  margin: 0 4.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

.wall {
  max-width: 38rem;
  min-width: 32.7rem;
  background: #2c2c2c;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 2rem;
}
