@import '../../../scss/variables.scss';

.playlists {
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 47.7rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  &::-webkit-scrollbar {
    background: transparent;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.create {
  min-width: 12.5rem;
  min-height: 12.5rem;
  border-radius: 1rem;
  background: $green-main;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & svg {
    width: 3rem;
    height: 3rem;
  }
}

.info {
  display: flex;
  align-items: center;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading,
.separator {
  color: $white;
}

.separator {
  margin: 0 1rem;
}

.title {
  color: $green-main;
  margin-right: 1rem;
}

.remove {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}

.remove svg path {
  transition: 0.2s linear;
}

.remove:hover svg path {
  stroke: $white;
}

.forward {
  width: 1.8rem;
  height: 1.5rem;
}

.forward svg path {
  transition: 0.2s linear;
}

.forward:hover svg path {
  fill: $white;
}

.wrapper {
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.wrapper.dropdown {
  max-height: 20rem;
}

.music-page.playlists {
  max-width: 100%;
  width: 49vw;
  flex-shrink: 1;
}

.music-page {
  & .create {
    min-width: 20rem;
    min-height: 20rem;
    & svg {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  & .remove,
  & .forward {
    width: 2rem;
    height: 2rem;
  }
}

.music-page.info {
  font-size: 1.8rem;
}

.music-page.wrapper {
  flex: 1;
}

@media (max-width: 1300px) {
  .music-page.playlists {
    width: 42vw;
  }
}

@media (max-width: 1150px) {
  .music-page.playlists {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .create {
    min-width: 9rem !important;
    min-height: 9rem !important;
    height: 9rem !important;
    & svg {
      width: 3rem !important;
      height: 3rem !important;
    }
  }
  .info.music-page {
    font-size: 1.2rem;
    & .remove,
    & .forward {
      width: 1.3rem;
      height: 1.3rem;
    }
    & .remove {
      margin-right: 1rem;
    }
  }
}
