@import '../../../scss/variables.scss';

.wrapper {
  background: $elem;
  padding: 1rem 2rem;
  position: absolute;
  border-radius: 0 0 2rem 2rem;
  bottom: -712%;
  min-height: 57rem;
  max-height: 57rem;
}

.nav {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.nav-link {
  font-size: 1.4rem;
  font-family: 'Montserrat';
  font-weight: 600;
  transition: 0.2s linear;
  color: $white;
  &.active {
    color: $green-main;
  }
  & + & {
    margin-left: 1.5rem;
  }
}
