@import '../../scss/variables.scss';

.fast-messages {
  display: flex;
  border-radius: 3rem;
  background: $elem;
  margin-right: 1.5rem;
}

// .cross {
//   position: absolute;
//   top: 0.2rem;
//   right: 0.2rem;
//   background: rgba(44, 44, 44, 0.5);
//   border-radius: 50%;
//   height: 2rem;
//   width: 2rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   opacity: 0;
//   transition: 0.2s linear;
// }
