@import '../../scss/variables.scss';

.modal-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .modal-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
}
