@import '../../scss/variables.scss';

.prev-button,
.next-button {
  width: 2.5rem;
  height: 5rem;
  position: absolute;
  z-index: 100;
  top: 50%;
}

.prev-button {
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.next-button {
  right: 0;
  transform: translateY(-50%) rotate(270deg);
}

.content-block {
  width: 25rem;
  & + & {
    margin-top: 1.5rem;
  }
}

.sub-title {
  font-family: 'OpenSans';
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: $white;
}

.add-story {
  width: 11rem;
  height: 19rem;
  background: $elem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    width: 6rem;
    height: 6rem;
    line {
      stroke: $green-main;
    }
  }
}

.add-icon {
  height: 0.3rem;
  width: 6rem;
  background: $green-main;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    background: inherit;
    transform: rotate(90deg);
  }
}

.content {
  padding: 1rem;
  background: $elem;
  border-radius: 1rem;
  font-family: 'OpenSans';
}

.top {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.arrow {
  width: 1rem;
  height: 1rem;
  transform: rotate(270deg);
}

.link {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.count {
  margin-left: 1rem;
  color: $semi-white;
}

.online {
  color: $white;
  span {
    color: $green-main;
  }
}

.friend {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  & + & {
    margin-left: auto;
  }
}

.friend-list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.name {
  margin-top: 0.2rem;
  max-width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-name {
  max-width: 18rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-name {
  max-width: 11rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $white;
}

.video-author {
  color: $green-main;
  max-width: 11rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.group-list {
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 1rem;
  }
}

.group-info {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: flex-start;
}

.members {
  color: $green-main;
  // margin-top: 0.3rem;
  max-width: 18rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  svg {
    width: 1.2rem;
    height: 1.8rem;
    margin-right: 0.3rem;
    & > * {
      fill: $green-main;
    }
  }
}

.music-img {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  img {
    border-radius: 0.5rem;
  }
}

.group-name {
  color: $white;
}

.video {
  width: 11rem;
  height: 6.5rem;
  flex-shrink: 0;
  & video {
    border-radius: 1.5rem;
    object-fit: cover;
  }
}

.views {
  margin-top: 0.2rem;
  color: $white;
  svg {
    width: 1.5rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  display: flex;
  align-items: baseline;
}

.photo-block {
  margin-bottom: 1.5rem;
}

.photo-top {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo-link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.photo-title {
  font-size: 1.6rem;
  color: $white;
  font-weight: 500;
}

.photos {
  display: grid;
  grid-template: repeat(2, 15rem) / repeat(2, 15rem);
  grid-gap: 1rem;
}

.photo img {
  border-radius: 1rem;
}

.video-item {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 1rem;
    // margin-left: 1rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $elem;
  border-radius: 1rem;
  width: 8.5rem;
  height: 8.5rem;
  justify-content: center;
}

.collection-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.collection-arrow {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(180deg);
}

.quantity {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.separator {
  margin: 0 0.5rem;
  display: block;
}

.my-count {
  color: $green-main;
  font-weight: 600;
}

.stories-area {
  grid-area: stories;
  grid-row: 2 / auto;
}

.friends-area {
  grid-area: friends;
}

.groups-area {
  grid-area: groups;
}

.music-area {
  grid-area: music;
}

.videos-area {
  grid-area: videos;
}

.collection-area {
  grid-area: collection;
}

.photos-area {
  grid-area: photos;
}

.group-content {
  width: 100%;
  & .sub-title {
    font-size: 2rem;
  }
  & .top {
    font-size: 1.4rem;
  }
}

.members-content {
  & .online {
    display: none;
  }
  & .name {
    max-width: 7rem;
    font-size: 1.6rem;
  }
}

.stories-content {
  margin-bottom: 3rem;
  & .add-story {
    width: 14rem;
    height: 19rem;
  }
}

.photos-content {
  & .photo-link {
    font-size: 1.4rem;
  }
  & .photos {
    display: flex;
  }
  & .photo {
    max-width: 14rem;
    width: 100%;
    height: 100%;
    max-height: 14rem;
    &:last-child {
      display: none;
    }
  }
  & .photo + .photo {
    margin-left: auto;
  }
}

.videos-content {
  // & .video-item:last-child {
  //   display: none;
  // }
  & .group-list {
    flex-direction: row;
  }
  & .video-item + .video-item {
    margin-top: 0;
    margin-left: auto;
  }
  & .group-info {
    display: none;
  }
  & .video-item {
    height: 11rem;
    max-width: 20rem;
    width: 100%;
    & > .video {
      height: inherit;
      width: inherit;
    }
  }
}

.music-content {
  .track-time {
    margin-left: auto;
  }
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 1450px) {
  .group-content {
    width: 100% !important;
  }
  .content-block {
    width: 20rem;
  }
  .group-name,
  .members {
    max-width: 13rem;
  }
  .photos {
    grid-template: repeat(4, 15rem) / repeat(1, 1fr);
  }
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
  .collection {
    width: 100%;
  }
  .collection + .collection {
    margin-top: 1rem;
  }
  .photo-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .video {
    width: 5rem;
    height: 6rem;
  }
  .add-story {
    width: 8rem;
    height: 19rem;
  }
}

.photo-title {
  font-family: 'OpenSans';
  font-size: 1.6rem;
  font-weight: 500;
}

.photo-block {
  font-family: 'OpenSans';
  font-size: 1.2rem;
}

@media (max-width: 1150px) {
  .content-block {
    width: 100%;
  }
  .photo-block {
    margin-top: 1.5rem;
  }
  .photo-title {
    margin-bottom: 1rem;
  }
  .photo-link {
    font-size: 1.4rem;
  }
  .photos {
    display: flex;
    // justify-content: space-between;
  }
  .photo {
    max-width: 17.5rem;
    max-height: 17.5rem;
    min-height: 8.5rem;
    min-width: 8.5rem;
  }
  .friend {
    flex-direction: row;
    max-width: 20rem;
    width: 100%;
  }
  .friend + .friend {
    margin-left: 1.5rem;
  }
  .name {
    margin-top: 0;
    margin-left: 0.5rem;
    max-width: 15rem;
  }
  .group-list {
    flex-direction: row;
    // justify-content: space-between;
  }
  .group {
    max-width: 20rem;
    width: 100%;
  }
  .group + .group {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  .video {
    width: 10rem;
  }
  .content-block {
    margin-bottom: 1.5rem;
  }
  .video-item {
    margin-top: 0 !important;
    & + & {
      margin-left: 1rem;
    }
  }
  .row {
    flex-direction: row;
  }
  .collection {
    width: 15rem;
  }
  .collection + .collection {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  .music-content {
    .group {
      max-width: none;
    }
  }
  .add-story {
    width: 12rem;
    height: 19rem;
  }
}

@media (max-width: 550px) {
  .friend-list,
  .group-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .friend + .friend,
  .group + .group,
  .video-item + .video-item {
    margin-left: 0;
    margin-top: 1rem !important;
  }
  .friend {
    max-width: fit-content;
  }
  .name,
  .members,
  .group-name,
  .video-author,
  .video-name {
    max-width: 50vw;
  }
  .group-content {
    & .sub-title {
      font-size: 1.6rem;
    }
    & .top {
      font-size: 1.2rem;
    }
  }
  .members-content {
    & .name {
      max-width: 60vw;
    }
  }
  .stories-content {
    & .add-story {
      width: 10rem;
      height: 15rem;
    }
  }
  .videos-content {
    & .group-list {
      flex-direction: column;
    }
    & .video-item + .video-item {
      margin-left: 0;
    }
  }
  .track-time {
    font-size: 1.2rem;
  }
  .add-story {
    width: 10rem;
    height: 15rem;
  }
}
