@import '../../scss/variables.scss';

.wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 2rem;
}

.close {
  width: 3rem;
  height: 3rem;
}

.accounts-modal {
  padding: 3rem;
  background: $elem;
  display: flex;
  flex-direction: column-reverse;
  & > button {
    margin: 0 auto;
  }
  & li > div {
    background: rgba(44, 44, 44, 0.5);
    margin: 0;
  }
}
