@import '../../../scss/variables.scss';

.wrapper {
  width: 19.5rem;
  position: absolute;
  top: 7.7rem;
  right: 0;
  background: $elem;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.6rem;
  color: $white;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  & svg {
    vertical-align: baseline;
    & path,
    rect,
    circle {
      transition: 0.2s linear;
    }
  }
}

.row {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  & + & {
    margin-top: 1.5rem;
  }
  &:hover .text::before {
    opacity: 1;
    width: 60%;
  }
  &:hover .settings svg path,
  &:hover .switch-acc svg rect,
  &:hover .switch-acc svg path:last-child,
  &:hover .activity svg circle {
    fill: $green-main;
  }
  &:hover .activity svg .activity-stroke,
  &:hover .exit svg path {
    stroke: $green-main;
  }

  &:hover .arrow svg path {
    stroke: $green-main;
  }

  &:hover .text {
    color: $green-main;
  }

  & a,
  span {
    transition: 0.2s linear;
    &:hover {
      color: $green-main;
    }
  }
}

.settings,
.switch-acc,
.activity,
.exit {
  display: block;
}

.exit-link {
  width: 80%;
}

.activity-item {
  flex-direction: column;
  align-items: flex-start;
}

.text {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 0%;
    background: $green-main;
    opacity: 0;
    transition: 0.3s linear;
  }
}

.status-list {
  display: none;
  white-space: nowrap;
  padding-left: 2rem;
  margin-top: 1rem;
  &.active {
    display: block;
  }
}

.arrow {
  margin-left: 1rem;
  & svg path {
    transition: 0.2s linear;
  }
}

.status-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  transition: 0.2s linear;
  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  &.active {
    color: $green-main;
  }
}

.status-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.green {
  background: $green-main;
}

.red {
  background: $red-light;
}

.yellow {
  background: $yellow;
}

.gray {
  background: $semi-white;
}
