@import '../../../scss/variables.scss';

.button {
  border-radius: 1rem;
  background: $green-main;
  display: block;
}

.auth-btn {
  width: 29rem;
  padding: 1.2rem 1.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: 'Montserrat';
  & + & {
    margin-left: 3rem;
  }
}

.log-btn {
  padding: 0.8rem;
  width: 15rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: 'Montserrat';
  margin: 0 auto;
}

.reg-btn {
  padding: 0.8rem;
  width: 22rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: 'Montserrat';
  margin: 0 auto;
  color: $white;
}

@media (max-width: 1150px) {
  .auth-btn {
    font-size: 1.8rem;
    width: 22rem;
  }
}

@media (max-width: 500px) {
  .auth-btn {
    font-size: 1.6rem;
    width: 20rem;
    & + & {
      margin: 2rem 0 0 0;
    }
  }
}
