@import '../../../scss/variables.scss';

.button {
  border-radius: 1rem;
  background: $green-main;
  display: block;
  font-family: 'Montserrat';
}

.auth-btn {
  width: 29rem;
  padding: 1.2rem 1.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  & + & {
    margin-left: 3rem;
  }
}

.log-btn {
  padding: 0.8rem;
  width: 15rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 auto;
}

.reg-btn {
  padding: 0.8rem;
  width: 22rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 auto;
  color: $white;
}

.not-found {
  padding: 1rem 1.5rem;
  width: 18rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

.group-create {
  color: $white;
  padding: 1rem 2rem;
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
}

.group-delete,
.page-delete {
  background: $red-dark;
  color: $white;
  font-family: 'Montserrat';
  padding: 0.8rem 1.4rem;
  font-size: 2rem;
  font-weight: 600;
}

.group-delete {
  margin: 6rem auto 0;
}

.page-delete {
  margin: 2rem auto 0;
}

.add-media {
  color: $white;
  padding: 0.5rem 2rem;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 500;
  margin: auto auto 0;
}

@media (max-width: 1150px) {
  .auth-btn {
    font-size: 1.8rem;
    width: 22rem;
  }
}

@media (max-width: 1000px) {
  .not-found {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .not-found {
    width: 12rem;
    font-size: 1.6rem;
    padding: 0.8rem 1.3rem;
  }
}

@media (max-width: 550px) {
  .group-create {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 500px) {
  .auth-btn {
    font-size: 1.6rem;
    width: 20rem;
    & + & {
      margin: 2rem 0 0 0;
    }
  }
  .log-btn {
    font-size: 1.6rem;
    width: 10rem;
  }
  .reg-btn {
    font-size: 1.6rem;
    width: 15rem;
  }
}
