@import '../../scss/variables.scss';

.feed {
  background: $sub-bg;
  max-width: 75rem;
  margin: 0 4.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

.side-content {
  top: calc($header-height + 2rem);
  max-width: 38rem;
  min-width: 32.7rem;
}

.stories {
  background: $sub-bg;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 2rem;
}

.options {
  background: $sub-bg;
  border-radius: 2rem;
  padding: 2rem;
}

.hidden {
  margin: 1.5rem 0;
  font-family: 'OpenSans';
}

.img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 1.5rem auto 1.5rem;
  & svg path {
    fill: $green-main;
  }
  & svg path:first-child {
    stroke: $green-main;
  }
}

.text {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: $white;
  & span {
    color: $green-main;
  }
}

.return {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 auto;
  color: $green-main;
}

.prev-button,
.next-button {
  width: 2.5rem;
  height: 5rem;
  position: absolute;
  z-index: 100;
  top: 50%;
}

.prev-button {
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.next-button {
  right: 0;
  transform: translateY(-50%) rotate(270deg);
}

:global(.swiper-button-disabled) {
  display: none;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  color: $green-main;
  font-family: 'OpenSans';
  font-weight: 600;
}

.option {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &.active {
    background: rgba(0, 0, 0, 0.3);
  }
  &.active .option-name {
    color: $green-main;
  }
  &.active .all rect,
  &.active .photos rect {
    stroke: $green-main;
  }
  &.active .friends > *,
  &.active .groups > *,
  &.active .circles ellipse,
  &.active .circles path:not(:last-child),
  &.active .voices ellipse,
  &.active .voices .micro-path,
  &.active .photos path,
  &.active .photos circle,
  &.active .videos rect,
  &.active .music > *,
  &.active .patterns > * {
    fill: $green-main;
  }
}

.option-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  & svg > * {
    transition: 0.2s linear;
  }
}

.option-name {
  margin-right: auto;
  font-family: 'OpenSans';
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  transition: 0.2s linear;
}

@media (max-width: 1150px) {
  .feed {
    margin: 0;
    max-width: 100%;
  }
  .options {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 0 0 2rem 2rem;
    transition: 0.2s linear;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
  .side-content {
    max-width: 100%;
  }
}
