@import '../../scss/variables.scss';

// .stories {
//   background: $sub-bg;
//   margin-bottom: 2rem;
//   border-radius: 2rem;
//   padding: 2rem;
// }

// .options {
//   background: $sub-bg;
//   border-radius: 2rem;
//   padding: 2rem;
// }

.hidden {
  margin: 1.5rem 0;
  font-family: 'OpenSans';
}

.img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 1.5rem auto 1.5rem;
  & svg path {
    fill: $green-main;
  }
  & svg path:first-child {
    stroke: $green-main;
  }
}

.text {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: $white;
  & span {
    color: $green-main;
  }
}

.return {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 auto;
  color: $green-main;
}

:global(.swiper-button-disabled) {
  display: none;
}

// .title {
//   margin-bottom: 1.5rem;
//   font-size: 2.4rem;
//   color: $green-main;
//   font-family: 'OpenSans';
//   font-weight: 600;
// }

@media (max-width: 768px) {
  .stories,
  .feed {
    border-radius: 0;
  }
}

@media (max-width: 550px) {
  .wrapper {
    margin-top: 6.5rem;
  }
  // .option-name {
  //   font-size: 1.4rem;
  // }
  // .option-icon {
  //   width: 1.5rem;
  //   height: 1.5rem;
  //   & svg {
  //     margin-bottom: 1rem;
  //   }
  // }
  // .options {
  //   top: 4rem;
  // }
  .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  // .next-button,
  // .prev-button {
  //   width: 2rem;
  //   height: 3rem;
  // }
  .feed,
  .stories {
    padding: 1rem;
  }
  // .stories {
  //   margin-bottom: 1.5rem;
  // }
}
