@import '../../../scss/variables.scss';

.not-found {
  margin-right: 2rem;
  width: 36.7rem;
  height: 36.7rem;
}

.nav-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  & > * {
    transition: 0.2s linear;
  }
}

.mobile-img {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  &.active ~ .mobile-sidebar-arrow {
    color: $green-main;
  }
  & > * {
    transition: 0.2s linear;
  }
}

.nav-img.messages,
.footer-msgs {
  --transparent-color: black;
}

.profile.active > *,
.feed.active > *,
.friends.active > *,
.groups.active > *,
.messages.active > *,
.circles.active > *,
.voices.active > *,
.photos.active > *,
.videos.active > *,
.music.active > *,
.apps.active > *,
.games.active > *,
.achieve.active > *,
.shop.active > *,
.notify.active > *,
.all.active > *,
.patterns.active > *,
.push.active > *,
.forward.active > *,
.comments.active > *,
.like.active > *,
.lock.active > * {
  color: $green-main;
}

.settings.active > *,
.suggest.active > *,
.block.active > *,
.crown.active > *,
.request.active > * {
  color: $green-main;
}

.account-button {
  width: 1.5rem;
  height: 1.5rem;
  --transparent-color: #f94f4f;
  color: $white;
}

.achievement-bg {
  width: 35rem;
  height: 7.5rem;
  & > * {
    transition: 0.2s linear;
  }
}

.hover:hover .achievement-bg.easy > * {
  color: darken($green-main, 15);
}

.hover:hover .achievement-bg.standard > * {
  color: darken($blue-dark, 15);
}

.hover:hover .achievement-bg.hard > * {
  color: darken($red-dark, 15);
}

.hover:hover .achievement-bg.secret > * {
  color: darken($dark-purple, 15);
}

.achieve-header {
  width: 2rem;
  height: 2rem;
  color: $white;
  --transparent-color: black;
}

.easy > * {
  color: $green-main;
}

.standard > * {
  color: $blue-dark;
}

.hard > * {
  color: $red-dark;
}

.secret > * {
  color: $dark-purple;
}

.profile-arrow {
  width: 1.5rem;
  height: 1rem;
  color: $white;
  &.active {
    transform: rotate(180deg);
  }
}

.content-icon {
  width: 4.5rem;
  height: 3.5rem;
}

.profile-action {
  width: 2rem;
  height: 2rem;
  color: $white;
  --transparent-color: black;
}

.profile-hover svg.white,
.profile-hover:hover svg.profile-arrow {
  transition: 0.2s linear;
}

.profile-hover:hover svg.white,
.profile-hover:hover svg.profile-arrow {
  color: $green-main;
}

.inp-check:checked ~ div > svg.white {
  color: $green-main;
}

.home-dots {
  color: $white;
  width: 3.4rem;
  height: 0.8rem;
}

.profile-dots {
  color: $white;
  width: 2.6rem;
  height: 0.8rem;
}

.reward-icon {
  width: 1rem;
  height: 1.5rem;
}

.header-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: $white;
}

.header-messages {
  width: 2rem;
  height: 2rem;
  --transparent-color: black;
}

.full-icon {
  width: 2rem;
  height: 2rem;
}

.arrow-fms {
  width: 2rem;
  height: 2rem;
}

.fms-close {
  width: 1.5rem;
  height: 1.5rem;
}

.fms-cross {
  width: 0.8rem;
  height: 0.8rem;
  color: $white;
}

.footer-logo > * {
  width: 5rem;
  height: 5rem;
}

.mobile-settings {
  width: 3rem;
  height: 3rem;
}

.mobile-sidebar-arrow {
  margin-left: auto;
  transform: rotate(270deg);
  height: 1.5rem;
  width: 3rem;
  transition: 0.2s linear;
}

.inp-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.8rem;
  width: 2rem;
  height: 2rem;
  color: $semi-white;
}

.close-inp {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  opacity: 0;
  color: $semi-white;
  transition: 0.2s linear;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &:hover {
    color: $white;
  }
}

.green {
  color: $green-main;
}

.only-gray {
  color: $semi-white;
  transition: 0.2s linear;
  &.active {
    color: $green-main;
  }
}

.gray {
  color: $semi-white;
  transition: 0.2s linear;
  --transparent-color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: $white;
  }
}

.white {
  color: $white;
}

@media (max-width: 1000px) {
  .not-found {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .not-found {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 550px) {
  .mobile-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .mobile-sidebar-arrow {
    height: 1rem;
    width: 1.5rem;
  }
  .mobile-settings {
    width: 2rem;
    height: 2rem;
  }
  .profile-action {
    width: 1.5rem;
    height: 1.5rem;
  }
  .profile-dots {
    width: 1.8rem;
    height: 0.4rem;
  }
  .content-icon {
    width: 3.5rem;
    height: 2.5rem;
  }
}
