@import '../../../scss/variables.scss';

.not-found {
  margin-right: 2rem;
  width: 36.7rem;
  height: 36.7rem;
}

.nav-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  & > * {
    transition: 0.2s linear;
  }
}

.nav-img.messages {
  --transparent-color: black;
}

.profile.active > *,
.feed.active > *,
.friends.active > *,
.groups.active > *,
.messages.active > *,
.circles.active > *,
.voices.active > *,
.photos.active > *,
.videos.active > *,
.music.active > *,
.apps.active > *,
.games.active > * {
  color: $green-main;
}

.account-button {
  width: 1.5rem;
  height: 1.5rem;
  & > * {
    color: $red-light;
  }
}

.achievement-bg {
  width: 35rem;
  height: 7.5rem;
  & > * {
    transition: 0.2s linear;
  }
}

.hover:hover .achievement-bg.easy > * {
  color: darken($green-main, 15);
}

.hover:hover .achievement-bg.standard > * {
  color: darken($blue-dark, 15);
}

.hover:hover .achievement-bg.hard > * {
  color: darken($red-dark, 15);
}

.hover:hover .achievement-bg.secret > * {
  color: darken($dark-purple, 15);
}

.achieve {
  width: 2rem;
  height: 2rem;
  color: $white;
  --transparent-color: black;
}

.easy > * {
  color: $green-main;
}

.standard > * {
  color: $blue-dark;
}

.hard > * {
  color: $red-dark;
}

.secret > * {
  color: $dark-purple;
}

.profile-arrow {
  width: 1.5rem;
  height: 1rem;
  &.active {
    transform: rotate(180deg);
  }
}

.reward-icon {
  width: 1rem;
  height: 1.5rem;
}

.header-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.header-messages {
  width: 2rem;
  height: 2rem;
  --transparent-color: black;
}

.full-icon {
  width: 2rem;
  height: 2rem;
}

.arrow-fms {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1000px) {
  .not-found {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .not-found {
    width: 15rem;
    height: 15rem;
  }
}
