@import '../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fm-nothing {
  width: 10rem;
  height: 10rem;
}

.nothing-text {
  color: $white;
  font-family: 'OpenSans';
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.music-nothing {
  width: 15rem;
  height: 15rem;
}

.playlists-nothing {
  width: 12rem;
  height: 12rem;
}

.shop-nothing {
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  & + p {
    margin-bottom: 3rem;
  }
}

.patterns-nothing {
  width: 10rem;
  height: 10rem;
}

.profile {
  margin: 0 auto;
  align-self: center;
  & .image {
    width: 30rem;
    height: 30rem;
  }
  & .nothing-text {
    font-size: 2.4rem;
    margin-top: 3rem;
  }
}
