@import '../../scss/variables.scss';

.wrapper {
  height: 7.5rem;
  background: $sub-bg;
  font-family: 'OpenSans';
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.wrapper-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 1rem;
}

.add {
  width: 2rem;
  height: 2rem;
}

.arrow {
  height: 1.5rem;
  width: 1.5rem;
  &.active {
    transform: rotate(180deg);
    margin-top: 0.5rem;
  }
}

.arrow-messages {
  width: 2rem;
  height: 2rem;
  & svg {
    display: block;
  }
}

.margin-auto {
  margin-left: auto;
}

.back-text {
  display: flex;
  align-items: center;
  & svg {
    display: block;
  }
  & span {
    color: $white;
    font-family: 'OpenSans';
    font-size: 2rem;
    display: block;
    margin-left: 1rem;
    font-weight: 500;
  }
}

.members {
  color: $green-main;
  font-weight: 600;
}

.user-img {
  width: 5rem;
  height: 5rem;
  margin: 0 1rem 0 1.5rem;
  & img {
    border-radius: 50%;
  }
}

.user-name {
  margin: 0 1rem 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.online {
  color: $green-main;
  font-size: 1.8rem;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
}

.arrow-link .arrow svg {
  display: block;
}

.paperclip {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}

.upload {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}

@media (max-width: 620px) {
  .members-text {
    display: none !important;
  }
  a.back-text span {
    display: none;
  }
}

@media (max-width: 550px) {
  .wrapper {
    height: 5rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .arrow,
  .arrow-messages {
    height: 1.2rem;
    width: 1.2rem;
  }
  .user-img {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 1.5rem;
  }
  .user-name {
    font-size: 1.4rem;
  }
  .online {
    font-size: 1.2rem;
  }
  .add {
    width: 1.5rem;
    height: 1.5rem;
  }
  .paperclip {
    width: 1.5rem;
    height: 1.5rem;
  }
}
