@import '../../scss/variables.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: $elem;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 50rem;
}

.title {
  font-family: 'OpenSans';
  font-weight: 500;
  font-size: 2.4rem;
  color: $white;
}

.text {
  margin: 2rem 0;
  font-family: 'OpenSans';
  font-size: 2rem;
  color: $white;
  font-weight: 500;
}

.warn {
  color: $red-light;
}

.row {
  display: flex;
  align-items: center;
}

.back {
  margin: 0 1.5rem 0 auto;
}

.button {
  font-family: 'Montserrat';
  color: $white;
  font-size: 2rem;
  font-weight: 500;
}

.confirm-warn {
  background: rgba(150, 37, 37, 0.5);
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  pointer-events: none;
}

.confirm-warn.enabled {
  background: $red-dark;
  color: $white;
  pointer-events: all;
}
