@import '../../../scss/variables.scss';

.input {
  border-radius: 1rem;
  background: $elem;
  width: 100%;
}

.fm-input-search {
  padding: 1rem 3.5rem 1rem 3.5rem;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  color: $white;
  border: 2px solid transparent;
  transition: 0.2s linear;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.fm-input-send {
  padding: 1rem 7rem 1rem 3.5rem;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  color: $white;
  border: 2px solid transparent;
  transition: 0.2s linear;
  &::placeholder {
    color: $semi-white;
  }
}

.auth-input {
  background: $bg-main;
  padding: 1.2rem;
  color: $white;
  font-family: 'OpenSans';
  font-size: 1.4rem;
  font-weight: 600;
  height: 4rem;
  border: 2px solid transparent;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.8rem;
  width: 2rem;
  height: 2rem;
  path {
    stroke: $semi-white;
  }
}

.paperclip-icon,
.paperclip-icon-wall,
.message-paperclip {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  & svg path {
    stroke: $semi-white;
    transition: 0.2s linear;
  }
  &:hover svg path {
    stroke: $white;
  }
}

.smile-icon,
.smile-icon-wall,
.message-smile {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  & svg path {
    transition: 0.2s linear;
  }
  &:hover svg path:first-child {
    fill: $white;
  }
  &:hover svg path:not(:first-child) {
    stroke: $white;
  }
  & svg path:first-child {
    fill: $semi-white;
  }
  & svg path:not(:first-child) {
    stroke: $semi-white;
  }
}

.micro-icon {
  width: 1.5rem;
  height: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.send-icon,
.send-icon-wall,
.message-send {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  & svg path {
    fill: $semi-white;
    transition: 0.2s linear;
  }
  &:hover svg path {
    fill: $white;
  }
}

.paperclip-icon-wall,
.smile-icon-wall,
.send-icon-wall {
  top: 2rem;
}

.smile-icon-wall {
  right: 1rem;
}

.message-paperclip,
.message-send,
.message-smile {
  top: 2.5rem;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  svg line {
    stroke: $semi-white;
    transition: 0.2s linear;
  }
  &:hover svg line {
    stroke: $white;
  }
}

.input-block {
  position: relative;
}

.profile-settings {
  background: $bg-main;
  padding: 1.2rem;
  font-family: 'OpenSans';
  font-size: 1.8rem;
  color: $white;
  border: 2px solid transparent;
  transition: 0.2s linear;
  &::placeholder {
    color: $semi-white;
    font-weight: 500;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.music-dd-input {
  background: $bg-main;
  padding: 1rem 3.5rem 1rem 3.5rem;
  font-family: 'OpenSans';
  font-size: 1.2rem;
  color: $white;
  border: 2px solid transparent;
  transition: 0.2s linear;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.nav-content {
  background: $bg-main;
  padding: 1.5rem 4rem 1.5rem 4rem;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.side-count {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.side-adress {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  height: 5rem;
  padding: 1rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.group-info {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  height: 5rem;
  padding: 1rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.wall-textarea,
.forward-modal,
.forward-modal-round {
  border-radius: 1rem 1rem 0 0;
  background: $elem;
  padding: 1rem 4rem 1rem 4rem;
  width: 100%;
  min-height: 6rem;
  max-height: 20rem;
  height: fit-content;
  overflow-y: auto;
  display: block;
  resize: none;
  outline: none;
  border: none;
  color: $white;
  font-family: 'Opensans';
  font-size: 1.4rem;
  font-weight: 400;
  &::placeholder {
    font-weight: 600;
  }
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.forward-modal,
.forward-modal-round {
  background: $bg-main;
  max-height: 10rem;
  min-height: 4rem;
  padding: 1rem 6rem 1rem 4.5rem;
  height: 4rem;
}

.forward-modal-round {
  border-radius: 1rem;
}

.messages {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  height: 5rem;
  padding: 1.5rem 4rem 1.5rem 4rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.send-message {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.2s linear;
  min-height: 5rem;
  height: 5rem;
  max-height: 10rem;
  padding: 1rem 6.5rem 1rem 4rem;
  resize: none;
  width: 100%;
  border-radius: 1rem;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.upload-files {
  background: $bg-main;
  color: $white;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 1.6rem;
  border: 2px solid transparent;
  transition: 0.2s linear;
  height: 4rem;
  padding: 1.5rem 3.5rem 1.5rem 4rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

.music-page {
  background: $bg-main;
  padding: 1rem 3.5rem 1rem 3.5rem;
  font-family: 'OpenSans';
  font-size: 1.6rem;
  color: $white;
  border: 2px solid transparent;
  transition: 0.2s linear;
  height: 5rem;
  &::placeholder {
    color: $semi-white;
  }
  &:focus {
    border: 2px solid $green-main;
  }
}

@media (max-width: 550px) {
  .message-paperclip,
  .message-send,
  .message-smile {
    top: 2rem;
  }
  .nav-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }
  .group-info {
    height: 4rem;
    font-size: 1.4rem;
  }
  .messages {
    height: 4rem;
    font-size: 1.4rem;
    padding: 1rem 4rem 1rem 3.5rem;
  }
  .send-message {
    min-height: 4rem;
    height: 4rem;
    max-height: 8rem;
    font-size: 1.4rem;
    padding: 0.7rem 6.5rem 0.7rem 3.5rem;
  }
  .music-page {
    height: 4rem;
    font-size: 1.4rem;
  }
  .profile-settings {
    height: 4rem;
    font-size: 1.4rem;
  }
  .upload-files {
    height: 3rem;
    font-size: 1.4rem;
    padding: 1rem 3.5rem 1rem 3rem;
  }
}
