@import '../../../scss/variables.scss';

.wrapper {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background: transparent;
    width: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 1rem solid rgba(0, 0, 0, 0);
    background-color: $green-main;
    border-radius: 1rem;
  }
}

.wrapper.dropdown {
  max-height: 37rem;
}
