@import '../../scss/variables.scss';

.wrapper {
  display: flex;
}

.feed {
  // position: relative;
}

.profile {
  background: $sub-bg;
  max-width: 63rem;
  height: fit-content;
  margin: 0 4.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  // position: sticky;
  // top: $header-height + 2rem;
  &.sticky {
    position: fixed;
    top: auto;
    bottom: 0;
    overflow: auto;
  }
  // &.sticky {
  //   position: fixed;
  //   bottom: 0;
  //   top: $header-height + 2rem;
  // }
  // grid-template-columns: 25rem 31rem;
  // // grid-template-rows: repeat(6, 1fr);
  // grid-auto-rows: min-content;
  // grid-column-gap: 4rem;
  // grid-template-areas:
  //   'avatar info'
  //   'stories photos'
  //   'friends collection'
  //   'groups .'
  //   'music .'
  //   'videos .';
}

.info {
  grid-area: info;
}

.avatar {
  grid-area: avatar;
}

.wall {
  max-width: 38rem;
  min-width: 32.7rem;
  background: #2c2c2c;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 2rem;
}

.right {
  font-family: 'OpenSans';
}

.left {
  margin-right: 4.5rem;
}

.main-info {
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(31, 31, 31, 0.7);
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.user-name {
  font-family: 'Montserrat';
  color: $white;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.status {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'OpenSans';
  color: $semi-white;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-info {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid rgba(31, 31, 31, 0.7);
}

.info-option {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: $white;
  & + & {
    margin-top: 1.5rem;
  }
}

.option-title {
  width: 11rem;
  margin-right: 1.5rem;
  font-family: 'OpenSans';
}

.wrap-button {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.4rem;
  color: $green-main;
  margin-top: 1rem;
  background: rgba(108, 108, 108, 0.2);
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
}

.unwrap-button {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.4rem;
  color: $green-main;
  margin: 1.5rem auto 0;
}

.separator {
  width: 100%;
  height: 0.2rem;
  background: $bg-main;
  position: absolute;
  top: 1rem;
  z-index: 10;
}

.unwrapped-block {
  position: relative;
}

.unwrapperd-title {
  font-size: 1.4rem;
  font-family: 'OpenSans';
  color: $white;
  font-weight: 500;
  width: 7rem;
  text-align: center;
  margin: 1rem auto 1.5rem;
  position: relative;
  z-index: 100;
}

.avatar {
  width: 25rem;
  height: 25rem;
  margin-bottom: 1.5rem;
  img {
    border-radius: 1rem;
  }
}

.option-data {
  font-family: 'OpenSans';
}

.option-unwrapped-data {
  color: $green-main;
  font-weight: 600;
  font-family: 'OpenSans';
}

.about {
  font-size: 1.4rem;
  font-family: 'OpenSans';
  color: $white;
}

.mobile-info {
  display: flex;
  justify-content: space-between;
}

.more-btn {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  height: 4rem;
  width: 4rem;
  transition: 0.2s background linear;
  &.active {
    border-radius: 1rem 1rem 0 0;
  }
  &.list-btn + &.list-btn {
    margin-top: 1rem;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.dots {
  height: 0.6rem;
  width: 2.6rem;
}

.more-icon {
  height: 2rem;
  width: 2rem;
  color: $white;
}

.more {
  position: relative;
}

.actions {
  background: $elem;
  padding: 1rem;
  border-radius: 1rem 0 1rem 1rem;
  position: absolute;
  right: 0;
  top: 4rem;
  display: none;
  &.active {
    display: block;
  }
}

.relative {
  position: relative;
}

@media (max-width: 1450px) {
  .profile {
    margin: 0 3rem 0 4.5rem;
  }
  .left {
    margin-right: 2rem;
  }
  .avatar {
    width: 20rem;
    height: 20rem;
  }
  .option-title,
  .option-data,
  .option-unwrapped-data {
    font-size: 1.2rem;
    width: 10rem;
    white-space: nowrap;
  }
  .option-title {
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .profile {
    margin: 0 0 2rem 0;
    min-width: 100%;
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
  .sub-info {
    margin-bottom: 0;
  }
  .option-title,
  .option-data,
  .option-unwrapped-data {
    font-size: 1.4rem;
    width: 11rem;
    white-space: nowrap;
  }
  .option-title {
    margin-right: 1rem;
  }
  .main-info {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .avatar {
    margin-right: 3rem;
    flex-shrink: 0;
  }
  .info {
    width: 100%;
  }
  .sub-info {
    padding-bottom: 1.8rem;
  }
  .left {
    margin-right: 0;
  }
  .status {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 550px) {
  .avatar {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 0;
    & img {
      border-radius: 50%;
    }
  }
  .user-name {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }
  .main-info {
    border-bottom: 0;
  }
  .mobile-info {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(31, 31, 31, 0.7);
    margin-bottom: 0.5rem;
  }
  .option-title {
    width: fit-content;
  }
  .option-title,
  .option-data,
  .option-unwrapped-data {
    font-size: 1.2rem;
  }
  .wrap-button {
    font-size: 1.2rem;
  }
  .sub-info {
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
  }
  .status {
    -webkit-line-clamp: 3;
  }
  .main-info {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .more-btn {
    height: 3rem;
    width: 3rem;
  }
  .more-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dots {
    width: 1.8rem;
    height: 0.4rem;
  }
  .actions {
    top: 3rem;
    padding: 0.5rem;
  }
  .more-btn.list-btn + .more-btn.list-btn {
    margin-top: 0.5rem;
  }
}
