@import '../../scss/variables.scss';

.sidebar {
  border-radius: 2rem;
  padding: 1.5rem;
  background: $sub-bg;
  min-width: $sidebar-width;
  font-family: 'Montserrat';
  font-size: 1.8rem;
  font-weight: 600;
  position: sticky;
  left: 0;
  height: fit-content;
  top: calc($header-height + 2rem);
  z-index: 99;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  & + & {
    margin-top: 1.5rem;
  }
  &.active {
    color: $green-main;
  }
  &.active ~ .feed rect {
    stroke: $green-main;
  }
}

.nav-link {
  width: inherit;
  &.active .text {
    color: $green-main;
  }
  &.active .feed rect:first-child,
  &.active .photos rect,
  &.active .games .games-path {
    stroke: $green-main;
  }
  &.active .feed rect:not(:first-child),
  &.active .profile circle,
  &.active .profile path,
  &.active .friends circle,
  &.active .friends path,
  &.active .groups path,
  &.active .groups circle,
  &.active .messages path,
  &.active .circles ellipse,
  &.active .circles path:not(:last-child),
  &.active .voices ellipse,
  &.active .voices .micro-path,
  &.active .photos path,
  &.active .photos circle,
  &.active .videos rect,
  &.active .music path,
  &.active .music ellipse,
  &.active .apps circle,
  &.active .apps rect,
  &.active .games .games-path {
    fill: $green-main;
  }
}

.text {
  transition: 0.2s linear;
}

.nav-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  & path,
  rect,
  circle,
  ellipse {
    transition: 0.2s linear;
  }
}
