@import '../../scss/variables.scss';

.post {
  padding: 1rem;
  background: $elem;
  border-radius: 1rem;
  font-family: 'OpenSans';
  & + & {
    margin: 1.5rem 0 1.5rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.user {
  display: flex;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.hide {
  width: 2.5rem;
  height: 2.5rem;
}

.row {
  display: flex;
}

.anonym {
  margin-right: 2rem;
  position: relative;
  &.separator::after {
    content: '';
    width: 0.2rem;
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5rem;
    background: $sub-bg;
  }
}

.media-action {
  margin-right: auto;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-btn {
  position: relative;
  margin-right: 1rem;
}

.inp-disabled {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  &:checked ~ .custom-btn {
    background: $green-light;
  }
}

.custom-btn {
  border-radius: 50%;
  outline: 0.4rem solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  width: 0.8rem;
  height: 0.8rem;
}

.input {
  border-radius: 1rem 1rem 0 0;
  background: $elem;
  padding: 1rem 4rem 1rem 4rem;
  width: 100%;
  min-height: 6rem;
  height: fit-content;
  overflow-y: auto;
  display: block;
  resize: none;
  outline: none;
  border: none;
  color: $white;
  font-family: 'Opensans';
  font-size: 1.4rem;
  font-weight: 400;
  &::placeholder {
    font-weight: 600;
  }
}

.controls-icon {
  width: 2rem;
  height: 2rem;
}

.text {
  color: $white;
}

.user-name {
  font-family: 'Montserrat';
  font-size: 1.8rem;
  font-weight: 500;
  color: $white;
}

.post-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: $semi-white;
}

.content {
  margin-bottom: 1.5rem;
}

.post-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: $white;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

.post-images {
  display: grid;
  grid-gap: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $sub-bg;
  border-radius: 0.2rem;
  &-one {
    grid-template-rows: 34rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'first';
  }
  &-two {
    grid-template-rows: 34rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first second';
  }
  &-three {
    grid-template-rows: repeat(2, 16rem);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'first second'
      'first third';
  }
  &-four {
    grid-template-rows: repeat(2, 25rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'first second'
      'third fourth';
  }
  &-five {
    grid-template-rows: repeat(3, 16rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'first third'
      'first fourth'
      'second fifth';
  }
  &-six {
    grid-template-rows: minmax(20rem, 20vw) minmax(10rem, 10vw);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'first first second second'
      'third fourth fifth sixth';
  }
  &-mobile {
    grid-template-rows: minmax(12rem, 1fr);
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    grid-template-areas: 'first second';
  }
}

.post-image {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  img {
    border-radius: 1rem;
    object-fit: cover;
  }
}

.post-video {
  video {
    border-radius: 1rem;
    background: black;
    object-fit: cover;
    &:fullscreen {
      object-fit: contain;
    }
  }
}

.post-videos {
  display: grid;
  grid-gap: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $sub-bg;
  border-radius: 0.2rem;
  &-one {
    grid-template-rows: minmax(14rem, 40vw);
    grid-template-columns: 1fr;
    grid-template-areas: 'first';
  }
  &-mobile {
    grid-template-rows: minmax(14rem, 40vw);
    grid-template-columns: 1fr;
    grid-template-areas: 'first';
  }
  &-two {
    grid-template-rows: 34rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first second';
  }
  &-three {
    grid-template-rows: repeat(2, 16rem);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'first second'
      'first third';
  }
}

.grid-area {
  &-0 {
    grid-area: first;
  }
  &-1 {
    grid-area: second;
  }
  &-2 {
    grid-area: third;
  }
  &-3 {
    grid-area: fourth;
  }
  &-4 {
    grid-area: fifth;
  }
  &-5 {
    grid-area: sixth;
  }
}

.last-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &.last-circle::before {
    border-radius: 50%;
  }
  &.post-voice::before {
    &::before {
      border-radius: 2rem;
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background: rgb(0, 0, 0, 0.8);
  }
}

.last-voice {
  margin-top: 2rem;
  & span {
    font-size: 1.6rem;
  }
}

.last-circle {
  width: 12.5rem !important;
  height: 12.5rem !important;
  margin-left: 3rem;
  & span {
    font-size: 2.4rem;
  }
}

.more {
  color: $white;
  z-index: 2;
  font-size: 4rem;
  font-weight: 500;
  position: absolute;
}

.media-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $sub-bg;
  border-radius: 0.2rem;
}

.post-circles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles-separator {
  padding-right: 1.5rem;
  border-right: 1px solid $sub-bg;
}

.post-voices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}

.only-voices > .post-voice + .post-voice {
  margin-top: 1.5rem;
}

.post-voice.last-media::before {
  border-radius: 2rem;
}

.post-circle {
  max-width: 17.5rem;
  width: 30vw;
  height: 30vw;
  max-height: 17.5rem;
  &.last-media::before {
    border-radius: 50%;
  }
  & video {
    object-fit: cover;
    border-radius: 50%;
  }
}

.post-only-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid $sub-bg;
  border-radius: 0.2rem;
  &.only-voices {
    flex-direction: column;
  }
  & .post-voice.last-media span {
    font-size: 2rem;
  }
}

.post-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}

.track-left {
  display: flex;
}

.play-btn {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.track-info {
  display: flex;
  align-items: center;
}

.track-name {
  color: $white;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-separator {
  color: $white;
  margin: 0 0.5rem;
}

.track-author {
  color: $green-main;
  margin-right: 1rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-time {
  color: $semi-white;
}

.more-btn {
  display: flex;
  align-items: center;
  & svg {
    width: 3.5rem;
    height: 1rem;
    & circle {
      fill: $semi-white;
    }
  }
}

.more-text {
  color: $semi-white;
  margin-right: 1.5rem;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;
}

.actions-info {
  display: flex;
  align-items: center;
  & + & {
    margin-left: 1.5rem;
  }
  &:last-child {
    margin-left: auto;
  }
  & svg {
    width: 2rem;
    height: 2rem;
  }
  & span {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    color: $semi-white;
    font-weight: 500px;
  }
}

.likes {
  & svg path,
  & span {
    transition: 0.2s linear;
  }
  & svg path {
    fill: $semi-white;
  }
  &.active svg path {
    fill: $green-main;
  }
  &.active span {
    color: $green-main;
  }
}

.forwards {
  & svg path {
    fill: $semi-white;
  }
}

.comments {
  & svg path {
    stroke: $semi-white;
  }
}

.views {
  & svg path,
  & svg circle {
    fill: $semi-white;
  }
}

@media (max-width: 1300px) {
  .media-wrapper {
    flex-direction: column;
  }
  .circles-separator {
    border-right: none;
    border-bottom: 1px solid $sub-bg;
    padding-right: 0;
    padding-bottom: 1.5rem;
  }
  .post-voices {
    margin: 1.5rem auto 0;
  }
  .more-btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .more-text {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1210px) {
  .post-text {
    // max-width: 100%;
    // min-width: 36rem;
  }
}

@media (max-width: 1150px) {
  .post-images {
    &-one {
      grid-template-rows: minmax(20rem, 50vw);
    }
    &-two {
      grid-template-rows: minmax(20rem, 50vw);
    }
    &-three {
      grid-template-rows: repeat(2, minmax(20rem, 25vw));
    }
    &-four {
      grid-template-rows: repeat(2, minmax(20rem, 25vw));
    }
    &-five {
      grid-template-rows: repeat(3, minmax(15rem, 20vw));
    }
    &-six {
      grid-template-rows: minmax(20rem, 30vw) minmax(10rem, 15vw);
    }
  }
  .post-videos {
    &-one {
      grid-template-rows: minmax(20rem, 50vw);
    }
    &-three {
      grid-template-rows: repeat(2, minmax(20rem, 25vw));
    }
  }
}

@media (max-width: 550px) {
  .play-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
  .user-name {
    font-size: 1.4rem;
  }
  .post-date {
    font-size: 1.2rem;
  }
  .hide {
    width: 1.7rem;
    height: 1.7rem;
  }
  .post-text {
    font-size: 1.2rem;
  }
  .top-row {
    margin-bottom: 0.5rem;
  }
  .actions-info {
    span {
      font-size: 1.2rem;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .more {
    font-size: 3.2rem;
  }
  .post-track {
    font-size: 1.2rem;
    flex-direction: column;
    align-items: initial;
  }
  .track-left {
    margin-bottom: 1rem;
  }
  .more-btn {
    align-self: flex-end;
  }
}

@media (max-width: 400px) {
  .post-images-one {
    grid-template-rows: 12rem;
  }
}
