@import '../../scss/variables.scss';

.wrapper {
  position: fixed;
  background: $sub-bg;
  padding: 2rem;
  z-index: 1000;
  bottom: -80rem;
  left: 0;
  right: 0;
  transition: 0.3s linear;
  font-family: 'Montserrat';
  font-weight: 500;
  border-radius: 1rem 1rem 0 0;
  &.active {
    bottom: 0;
  }
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.name {
  color: $white;
  font-size: 2.4rem;
}

.arrow {
  svg {
    transform: rotate(270deg);
  }
  margin-left: auto;
  height: 1.5rem;
  width: 3rem;
}

.status {
  color: $semi-white;
  font-size: 1.8rem;
}

.main-list {
  border-bottom: 3px solid rgba(20, 20, 20, 0.5);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile-link {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.sub-list {
  margin-bottom: 1.5rem;
}

.text {
  transition: 0.2s linear;
}

.nav-link {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  width: 100%;
  &.active > .text {
    color: $green-main;
  }
}

.nav-item {
  & + & {
    margin-top: 2rem;
  }
}

.nav-img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  position: relative;
}

.close {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  & svg {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 550px) {
  .name {
    font-size: 1.6rem;
  }
  .status {
    font-size: 1.4rem;
  }
  .settings {
    width: 2rem;
    height: 2rem;
  }
  .top {
    margin-bottom: 1.5rem;
  }
  .nav-link {
    font-size: 1.6rem;
  }
  .nav-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .arrow {
    width: 2rem;
    height: 1rem;
  }
  .close {
    width: 4.5rem;
    height: 4.5rem;
    & svg {
      width: 50%;
      height: 50%;
    }
  }
}
