@import '../../../scss/variables.scss';

.playlists {
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 47.7rem;
}

.create {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 1rem;
    background: $green-main;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & svg {
        width: 3rem;
        height: 3rem;
    }
}