@import '../../../scss/variables.scss';

.header {
  &__messages-img {
    padding: 1.5rem;
    & use {
      color: $white;
    }
  }
  .header-msgs {
    min-width: 2rem;
    min-height: 2rem;
  }
}
