.image-block {
  position: relative;
  width: inherit;
  height: inherit;
  & img {
    border-radius: 50%;
  }
}

.header__profile-image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
}

.fast-message {
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  position: relative;
  cursor: pointer;
  transition: 0.2s background linear;
  &:hover .cross {
    opacity: 1;
  }
  img {
    width: 4rem;
    height: 4rem;
  }
  &:first-child {
    border-radius: 3rem 0 0 3rem;
  }
  &:nth-last-child(2) {
    margin-right: 0;
  }
  &:hover {
    background: rgba(108, 108, 108, 0.5);
  }
}

.cross {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background: rgba(44, 44, 44, 0.5);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s linear;
}

.fm-chat-image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.chat-image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.message-avatar {
  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  margin-right: 1rem;
}
